In [2]:
import tweepy
import csv
import json
import pandas as pd
import requests
from bs4 import BeautifulSoup as BS
import re
import time
import numpy as np
import jsonlines
import io

First part of the program where the data will be extracted and will be saved in json file

In [4]:
#loading twitter API credentials from the file which was saved
with open('twitter_credentials.json') as cred_data:
    info = json.load(cred_data)
    consumer_key = info['CONSUMER_KEY']
    consumer_secret = info['CONSUMER_SECRET']
    access_key = info['ACCESS_KEY']
    access_secret = info['ACCESS_SECRET']

In [5]:
# initialization of a list to hold all Tweets
alltweets = []

In [6]:
# Authorization and initialization
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_key, access_secret)
#Request result parsed for json.
api = tweepy.API(auth,parser=tweepy.parsers.JSONParser())

In [7]:
# We will get the tweets with multiple requests of 200 tweets each, and get it in the extended format.
alltweets = api.search(q="midasIIITD", count=200, tweet_mode='extended')

In [45]:
# Save the GET query in a json format.
with open('midasIIITD.jsonl', 'w') as outfile:
    for entry in alltweets['statuses']:
        json.dump(entry, outfile)
        outfile.write('\n')

In [31]:
n_images = []

In [17]:
len(alltweets['statuses'])

45

In [32]:
## Looping through each tweet to retrieve the amount of media/image files.
for i in range(len(alltweets['statuses'])):
    image = 0
    try:
        for i in alltweets['statuses'][i]['entities']['media']:
            image = image + 1
    except:
        image = None
    
    n_images.append(image)

Second part of the program to parse the json file and display the output in tabular form

In [25]:
rt = []
images = []
text = []
created_at = []
favorite = []

In [26]:
##Using prettytable library to plot table in a friendly way 
for i in range(len(alltweets['statuses'])):
    text.append(alltweets['statuses'][i]['full_text'])
    created_at.append(alltweets['statuses'][i]['created_at'])
    favorite.append(alltweets['statuses'][i]['favorite_count'])
    rt.append(alltweets['statuses'][i]['retweet_count'])

In [35]:
new_dataframe = pd.DataFrame()

In [36]:
new_dataframe['text'] = text

In [37]:
new_dataframe['Date and time'] = created_at

In [38]:
new_dataframe['number of favorites/likes'] = favorite

In [39]:
new_dataframe['retweets count'] = rt

In [41]:
new_dataframe['images'] = n_images

In [42]:
new_dataframe

,text,Date and time,number of favorites/likes,retweets count,images
0,We request all students whose interview are sc...,Sun Apr 07 11:43:24 +0000 2019,0,0,NaN
1,"Other queries: ""none of the Tweeter Apis give ...",Sun Apr 07 06:55:19 +0000 2019,3,2,NaN
2,"Other queries: ""do we have to make two differe...",Sun Apr 07 06:53:38 +0000 2019,3,1,NaN
3,RT @midasIIITD: Response to some queries asked...,Sun Apr 07 06:50:11 +0000 2019,0,1,NaN
4,"Other queries: ""If using Twitter api, it does ...",Sun Apr 07 05:32:27 +0000 2019,4,1,NaN
5,Response to some queries asked by students on ...,Sun Apr 07 05:29:40 +0000 2019,6,1,NaN
6,RT @midasIIITD: @nupur_baghel @PennDATS Congra...,Sat Apr 06 18:42:01 +0000 2019,0,3,NaN
7,RT @midasIIITD: @nupur_baghel @PennDATS Congra...,Sat Apr 06 17:54:43 +0000 2019,0,3,NaN
8,RT @kdnuggets: Top 8 #Free Must-Read #Books on...,Sat Apr 06 17:11:29 +0000 2019,0,2,NaN
9,RT @midasIIITD: @nupur_baghel @PennDATS Congra...,Sat Apr 06 16:44:58 +0000 2019,0,3,NaN
10,@nupur_baghel @PennDATS Congratulation @nupur_...,Sat Apr 06 16:43:27 +0000 2019,15,3,1.0
11,@RatnRajiv @nupur_baghel @midasIIITD @the_dhum...,Sat Apr 06 15:58:15 +0000 2019,1,0,NaN
12,@RatnRajiv @midasIIITD @the_dhumketu @WiMLDS_D...,Sat Apr 06 10:51:05 +0000 2019,1,0,NaN
13,@the_dhumketu @midasIIITD @RatnRajiv @WiMLDS_D...,Sat Apr 06 10:33:21 +0000 2019,0,0,NaN
14,@nupur_baghel @midasIIITD @RatnRajiv @WiMLDS_D...,Sat Apr 06 10:26:16 +0000 2019,0,0,NaN
15,@nupur_baghel @midasIIITD @the_dhumketu @WiMLD...,Sat Apr 06 08:59:02 +0000 2019,2,0,NaN
16,@midasIIITD @RatnRajiv sir and @the_dhumketu w...,Sat Apr 06 07:46:38 +0000 2019,13,0,NaN
17,RT @midasIIITD: We have emailed the task detai...,Fri Apr 05 19:06:46 +0000 2019,0,1,NaN
18,We have emailed the task details to all candid...,Fri Apr 05 16:08:37 +0000 2019,10,1,NaN
19,RT @rfpvjr: Our NAACL paper on polarization in...,Fri Apr 05 04:05:11 +0000 2019,0,16,NaN
20,RT @kdnuggets: Effective Transfer Learning For...,Fri Apr 05 04:04:43 +0000 2019,0,10,1.0
21,RT @stanfordnlp: What’s new in @Stanford CS224...,Wed Apr 03 18:31:53 +0000 2019,0,59,NaN
22,RT @DeepMindAI: Today we're releasing a large-...,Wed Apr 03 17:04:32 +0000 2019,0,848,NaN
23,@DeepMindAI @midasIIITD @astu9880 @the_dhumketu,Wed Apr 03 13:51:32 +0000 2019,2,0,NaN
24,RT @ylecun: Congratulations Jitendra Malik !\n...,Wed Apr 03 09:03:40 +0000 2019,0,16,NaN
25,RT @IIITDelhi: Another chance to take admissio...,Wed Apr 03 07:46:02 +0000 2019,0,4,NaN
26,RT @midasIIITD: Dear @midasIIITD internship ca...,Tue Apr 02 04:38:56 +0000 2019,0,1,NaN
27,Dear @midasIIITD internship candidates who hav...,Tue Apr 02 04:20:13 +0000 2019,8,1,NaN
28,Looking forward to your paper submission to @I...,Tue Apr 02 02:44:54 +0000 2019,5,1,NaN
29,RT @ngrams: Reproducibility in multimedia rese...,Tue Apr 02 02:35:44 +0000 2019,0,7,NaN
30,Online application for https://t.co/DJFDrQsHZP...,Mon Apr 01 06:53:08 +0000 2019,7,2,NaN
31,RT @ACMMM19: A final reminder of the Reproduci...,Sun Mar 31 10:21:24 +0000 2019,0,10,NaN
32,RT @midasIIITD: Since SemEval-2019 will be hel...,Sat Mar 30 02:17:10 +0000 2019,0,1,NaN
33,RT @isarth23: Thanks for the support and help ...,Fri Mar 29 19:43:24 +0000 2019,0,2,NaN
34,RT @midasIIITD: Congratulations! @midasIIITD t...,Fri Mar 29 18:48:31 +0000 2019,0,1,NaN
35,RT @isarth23: Thanks for the support and help ...,Fri Mar 29 18:48:10 +0000 2019,0,2,NaN
36,Thanks for the support and help @debanjanbhucs...,Fri Mar 29 18:45:35 +0000 2019,7,2,NaN
37,"Since SemEval-2019 will be held June 6-7, 2019...",Fri Mar 29 17:16:40 +0000 2019,9,1,NaN
38,+@aggarwal_kartik.\nCongrats! Wish you many mo...,Fri Mar 29 17:04:30 +0000 2019,2,0,NaN
39,RT @aggarwal_kartik: Our work (@midasIIITD ) a...,Fri Mar 29 17:03:29 +0000 2019,0,1,NaN
40,"Congratulations! @midasIIITD team, @isarth23 @...",Fri Mar 29 17:02:24 +0000 2019,9,1,NaN
41,Our work (@midasIIITD ) accepted at SemEval 20...,Fri Mar 29 16:58:43 +0000 2019,6,1,NaN
42,@EEMLcommunity @radamihalcea too many deadline...,Fri Mar 29 05:35:22 +0000 2019,0,0,NaN
43,RT @stanfordnlp: CS224N Natural Language Proce...,Thu Mar 28 16:55:01 +0000 2019,0,715,NaN
44,RT @ylecun: Learn PyTorch by running on Google...,Thu Mar 28 16:54:37 +0000 2019,0,157,NaN

In [43]:
new_dataframe.to_csv('All_tweets_MIDASIIITD.csv')