In [199]:
import tweepy
import csv
import json
import pandas as pd
import requests
from bs4 import BeautifulSoup as BS
import re
import time
import numpy as np
import jsonlines
import io

First part of the program where the data will be extracted and will be saved in json file

In [2]:
#loading twitter API credentials from the file which was saved
with open('twitter_credentials.json') as cred_data:
    info = json.load(cred_data)
    consumer_key = info['CONSUMER_KEY']
    consumer_secret = info['CONSUMER_SECRET']
    access_key = info['ACCESS_KEY']
    access_secret = info['ACCESS_SECRET']

In [3]:
# initialization of a list to hold all Tweets
alltweets = []

In [4]:
# Authorization and initialization
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_key, access_secret)
api = tweepy.API(auth)

In [5]:
# We will get the tweets with multiple requests of 200 tweets each
new_tweets = api.user_timeline(screen_name="midasIIITD", count=200)
# Appending the json part of the data to list
for tweet in new_tweets:
    alltweets.append(tweet._json)

In [13]:
# save id of 1 less than the oldest tweet
oldest = alltweets[-1]["id"] - 1

In [14]:
# grabbing tweets till none are left
while len(new_tweets) > 0:  
    # all subsiquent requests use the max_id param to prevent duplicates
    new_tweets = api.user_timeline(screen_name = "midasIIITD",count=200, max_id=oldest)

    # save most recent tweets
    # Appending the json part of the data to list
    for tweet in new_tweets:
        alltweets.append(tweet._json)
    oldest = alltweets[-1]["id"] - 1

    print("...%s tweets downloaded so far" % (len(alltweets)))

print("Total tweets downloaded %s" % (len(alltweets)))

...331 tweets downloaded so far
...331 tweets downloaded so far
Total tweets downloaded 331

In [194]:
# Creating a new JSON file and dumping the value into it
file = open('tweet.json', 'w')
json.dump(alltweets, file,indent = 4)

In [209]:
with open('tweets.jsonl', 'w') as outfile:
    for entry in alltweets:
        json.dump(entry, outfile)
        outfile.write('\n')

Second part of the program to parse the json file and display the output in tabular form

In [117]:
alltweets[6]['extended_entities']

{'media': [{'display_url': 'pic.twitter.com/ccX4Uhxjn8',
   'expanded_url': 'https://twitter.com/kdnuggets/status/1114014848369799169/photo/1',
   'id': 1114014846817796099,
   'id_str': '1114014846817796099',
   'indices': [75, 98],
   'media_url': 'http://pbs.twimg.com/media/D3XGmdMWAAM7bXv.png',
   'media_url_https': 'https://pbs.twimg.com/media/D3XGmdMWAAM7bXv.png',
   'sizes': {'large': {'h': 300, 'resize': 'fit', 'w': 640},
    'medium': {'h': 300, 'resize': 'fit', 'w': 640},
    'small': {'h': 300, 'resize': 'fit', 'w': 640},
    'thumb': {'h': 150, 'resize': 'crop', 'w': 150}},
   'source_status_id': 1114014848369799169,
   'source_status_id_str': '1114014848369799169',
   'source_user_id': 20167623,
   'source_user_id_str': '20167623',
   'type': 'photo',
   'url': 'https://t.co/ccX4Uhxjn8'}]}

In [182]:
rt = []
images = []
text = []
created_at = []
favorite = []

In [183]:
for i in range(len(alltweets)):
    rt.append(alltweets[i]['retweet_count'])
    text.append(alltweets[i]['text'])
    created_at.append(alltweets[i]['created_at'])
    favorite.append(alltweets[i]['favorite_count'])
    try:
        images.append(len(alltweets[i]['extended_entities']['media']))
    except:
        images.append(0)

In [186]:
alltweets[8]

{'contributors': None,
 'coordinates': None,
 'created_at': 'Wed Apr 03 17:04:32 +0000 2019',
 'entities': {'hashtags': [],
  'symbols': [],
  'urls': [],
  'user_mentions': [{'id': 4783690002,
    'id_str': '4783690002',
    'indices': [3, 14],
    'name': 'DeepMind',
    'screen_name': 'DeepMindAI'}]},
 'favorite_count': 0,
 'favorited': False,
 'geo': None,
 'id': 1113487457780215808,
 'id_str': '1113487457780215808',
 'in_reply_to_screen_name': None,
 'in_reply_to_status_id': None,
 'in_reply_to_status_id_str': None,
 'in_reply_to_user_id': None,
 'in_reply_to_user_id_str': None,
 'is_quote_status': False,
 'lang': 'en',
 'place': None,
 'retweet_count': 849,
 'retweeted': False,
 'retweeted_status': {'contributors': None,
  'coordinates': None,
  'created_at': 'Wed Apr 03 12:38:17 +0000 2019',
  'entities': {'hashtags': [],
   'symbols': [],
   'urls': [{'display_url': 'twitter.com/i/web/status/1…',
     'expanded_url': 'https://twitter.com/i/web/status/1113420454860083201',
     'indices': [116, 139],
     'url': 'https://t.co/SZRSMvEeO3'}],
   'user_mentions': []},
  'favorite_count': 2358,
  'favorited': False,
  'geo': None,
  'id': 1113420454860083201,
  'id_str': '1113420454860083201',
  'in_reply_to_screen_name': None,
  'in_reply_to_status_id': None,
  'in_reply_to_status_id_str': None,
  'in_reply_to_user_id': None,
  'in_reply_to_user_id_str': None,
  'is_quote_status': False,
  'lang': 'en',
  'place': None,
  'possibly_sensitive': False,
  'retweet_count': 849,
  'retweeted': False,
  'source': '<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>',
  'text': "Today we're releasing a large-scale extendable dataset of mathematical questions, for training (and evaluating the… https://t.co/SZRSMvEeO3",
  'truncated': True,
  'user': {'contributors_enabled': False,
   'created_at': 'Tue Jan 19 13:46:08 +0000 2016',
   'default_profile': True,
   'default_profile_image': False,
   'description': 'Founded in 2010.  Building Artificial General Intelligence. The creators of #AlphaGo and Atari DQN',
   'entities': {'description': {'urls': []},
    'url': {'urls': [{'display_url': 'deepmind.com',
       'expanded_url': 'http://www.deepmind.com',
       'indices': [0, 23],
       'url': 'https://t.co/8B3TFFIGoP'}]}},
   'favourites_count': 224,
   'follow_request_sent': False,
   'followers_count': 225068,
   'following': True,
   'friends_count': 110,
   'geo_enabled': False,
   'has_extended_profile': False,
   'id': 4783690002,
   'id_str': '4783690002',
   'is_translation_enabled': False,
   'is_translator': False,
   'lang': 'en',
   'listed_count': 3244,
   'location': 'London, UK',
   'name': 'DeepMind',
   'notifications': False,
   'profile_background_color': 'F5F8FA',
   'profile_background_image_url': None,
   'profile_background_image_url_https': None,
   'profile_background_tile': False,
   'profile_banner_url': 'https://pbs.twimg.com/profile_banners/4783690002/1484305927',
   'profile_image_url': 'http://pbs.twimg.com/profile_images/692405474986164224/NzcXa05I_normal.png',
   'profile_image_url_https': 'https://pbs.twimg.com/profile_images/692405474986164224/NzcXa05I_normal.png',
   'profile_link_color': '1DA1F2',
   'profile_sidebar_border_color': 'C0DEED',
   'profile_sidebar_fill_color': 'DDEEF6',
   'profile_text_color': '333333',
   'profile_use_background_image': True,
   'protected': False,
   'screen_name': 'DeepMindAI',
   'statuses_count': 822,
   'time_zone': None,
   'translator_type': 'none',
   'url': 'https://t.co/8B3TFFIGoP',
   'utc_offset': None,
   'verified': False}},
 'source': '<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>',
 'text': "RT @DeepMindAI: Today we're releasing a large-scale extendable dataset of mathematical questions, for training (and evaluating the abilitie…",
 'truncated': False,
 'user': {'contributors_enabled': False,
  'created_at': 'Mon Jul 23 11:26:04 +0000 2018',
  'default_profile': True,
  'default_profile_image': False,
  'description': 'MIDAS is a group of researchers at IIIT-Delhi who study, analyze, and build different multimedia systems for society leveraging multimodal information.',
  'entities': {'description': {'urls': []},
   'url': {'urls': [{'display_url': 'midas.iiitd.edu.in',
      'expanded_url': 'http://midas.iiitd.edu.in/',
      'indices': [0, 23],
      'url': 'https://t.co/Uwg7oSM6mE'}]}},
  'favourites_count': 142,
  'follow_request_sent': False,
  'followers_count': 255,
  'following': True,
  'friends_count': 42,
  'geo_enabled': False,
  'has_extended_profile': False,
  'id': 1021355762575073281,
  'id_str': '1021355762575073281',
  'is_translation_enabled': False,
  'is_translator': False,
  'lang': 'en',
  'listed_count': 0,
  'location': 'New Delhi, India',
  'name': 'MIDAS IIITD',
  'notifications': False,
  'profile_background_color': 'F5F8FA',
  'profile_background_image_url': None,
  'profile_background_image_url_https': None,
  'profile_background_tile': False,
  'profile_banner_url': 'https://pbs.twimg.com/profile_banners/1021355762575073281/1554320878',
  'profile_image_url': 'http://pbs.twimg.com/profile_images/1021356444921212928/WmSTJCUs_normal.jpg',
  'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1021356444921212928/WmSTJCUs_normal.jpg',
  'profile_link_color': '1DA1F2',
  'profile_sidebar_border_color': 'C0DEED',
  'profile_sidebar_fill_color': 'DDEEF6',
  'profile_text_color': '333333',
  'profile_use_background_image': True,
  'protected': False,
  'screen_name': 'midasIIITD',
  'statuses_count': 331,
  'time_zone': None,
  'translator_type': 'none',
  'url': 'https://t.co/Uwg7oSM6mE',
  'utc_offset': None,
  'verified': False}}

In [185]:
images

[0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0]

In [187]:
new_dataframe = pd.DataFrame()

#Things i noted while scraping,the twitter api does NOT return all images from retweeted posts, so I tried scraping 
#using bs4 all the urls of retweeted posts, but as it turns out, scraping that many urls are not allowed by twitter,
#Also i printed alltweets[8], a retweet that contains an image, however no such response was given by the twitter api
#So, in the final dataframe, the image count of all rows are not correct, however the rest of the information is.

In [188]:
new_dataframe['text'] = text

In [189]:
new_dataframe['Date and time'] = created_at

In [190]:
new_dataframe['number of favorites/likes'] = favorite

In [191]:
new_dataframe['retweets count'] = rt

In [192]:
new_dataframe['images'] = images

In [193]:
new_dataframe

,text,Date and time,number of favorites/likes,retweets count,images
0,"Other queries: ""If using Twitter api, it does ...",Sun Apr 07 05:32:27 +0000 2019,1,0,0
1,Response to some queries asked by students on ...,Sun Apr 07 05:29:40 +0000 2019,2,0,0
2,RT @kdnuggets: Top 8 #Free Must-Read #Books on...,Sat Apr 06 17:11:29 +0000 2019,0,2,0
3,@nupur_baghel @PennDATS Congratulation @nupur_...,Sat Apr 06 16:43:27 +0000 2019,14,3,0
4,We have emailed the task details to all candid...,Fri Apr 05 16:08:37 +0000 2019,10,1,0
5,RT @rfpvjr: Our NAACL paper on polarization in...,Fri Apr 05 04:05:11 +0000 2019,0,16,0
6,RT @kdnuggets: Effective Transfer Learning For...,Fri Apr 05 04:04:43 +0000 2019,0,10,1
7,RT @stanfordnlp: What’s new in @Stanford CS224...,Wed Apr 03 18:31:53 +0000 2019,0,58,0
8,RT @DeepMindAI: Today we're releasing a large-...,Wed Apr 03 17:04:32 +0000 2019,0,849,0
9,RT @ylecun: Congratulations Jitendra Malik !\n...,Wed Apr 03 09:03:40 +0000 2019,0,16,0
10,RT @IIITDelhi: Another chance to take admissio...,Wed Apr 03 07:46:02 +0000 2019,0,4,0
11,Dear @midasIIITD internship candidates who hav...,Tue Apr 02 04:20:13 +0000 2019,8,1,0
12,Looking forward to your paper submission to @I...,Tue Apr 02 02:44:54 +0000 2019,5,1,0
13,RT @ngrams: Reproducibility in multimedia rese...,Tue Apr 02 02:35:44 +0000 2019,0,7,0
14,Online application for https://t.co/DJFDrQsHZP...,Mon Apr 01 06:53:08 +0000 2019,7,2,0
15,RT @ACMMM19: A final reminder of the Reproduci...,Sun Mar 31 10:21:24 +0000 2019,0,10,0
16,RT @isarth23: Thanks for the support and help ...,Fri Mar 29 19:43:24 +0000 2019,0,2,0
17,"Since SemEval-2019 will be held June 6-7, 2019...",Fri Mar 29 17:16:40 +0000 2019,9,1,0
18,+@aggarwal_kartik.\nCongrats! Wish you many mo...,Fri Mar 29 17:04:30 +0000 2019,2,0,0
19,RT @aggarwal_kartik: Our work (@midasIIITD ) a...,Fri Mar 29 17:03:29 +0000 2019,0,1,0
20,"Congratulations! @midasIIITD team, @isarth23 @...",Fri Mar 29 17:02:24 +0000 2019,9,1,0
21,@EEMLcommunity @radamihalcea too many deadline...,Fri Mar 29 05:35:22 +0000 2019,0,0,0
22,RT @stanfordnlp: CS224N Natural Language Proce...,Thu Mar 28 16:55:01 +0000 2019,0,714,0
23,RT @ylecun: Learn PyTorch by running on Google...,Thu Mar 28 16:54:37 +0000 2019,0,157,0
24,Dr. Vineeth N Balasubramanian will present a T...,Wed Mar 27 16:09:09 +0000 2019,4,1,0
25,RT @ylecun: I am extremely honored to be the r...,Wed Mar 27 11:53:40 +0000 2019,0,1545,0
26,Thanks to all shortlisted candidates for submi...,Tue Mar 26 18:12:27 +0000 2019,5,1,0
27,@IEEEBigMM19 @ACMMM19 and 6 days left for work...,Tue Mar 26 05:54:49 +0000 2019,2,0,0
28,RT @IEEEBigMM19: Hurry Up!\n6 Days left for Ab...,Tue Mar 26 05:50:10 +0000 2019,0,3,0
29,Congratulations @midasIIITD students Simra Sha...,Mon Mar 25 13:01:57 +0000 2019,18,1,0
...,...,...,...,...,...
301,RT @TensorFlow: TensorFlow 1.10.0 has been rel...,Thu Aug 09 05:59:57 +0000 2018,0,265,0
302,@midasIIITD is looking for motivated IIITD MTe...,Wed Aug 08 11:30:56 +0000 2018,2,1,0
303,@IIITDelhi @ponguru @RatnRajiv The results of ...,Wed Aug 08 05:53:48 +0000 2018,3,1,1
304,RT @IIITDelhi: @midasIIITD has secured rank 1 ...,Wed Aug 08 05:45:58 +0000 2018,0,1,0
305,RT @kdnuggets: Comparison of Top 6 Python NLP ...,Tue Aug 07 07:16:33 +0000 2018,0,40,1
306,Check more details of the 20th IEEE Internatio...,Tue Aug 07 02:05:12 +0000 2018,1,1,0
307,MR2AMC@ISM 2018 will be organized by @RatnRaji...,Tue Aug 07 01:58:49 +0000 2018,1,1,0
308,"Our workshop proposal named, ""MR2AMC: Multimod...",Tue Aug 07 01:50:33 +0000 2018,1,1,0
309,@NUSComputing Congratulations Abdelhak and Pro...,Mon Aug 06 17:48:23 +0000 2018,0,0,0
310,RT @goodfellow_ian: One of the most anticipate...,Mon Aug 06 17:46:59 +0000 2018,0,103,1
311,@the_dhumketu Great to have you in @midasIIITD,Mon Aug 06 06:06:47 +0000 2018,0,0,0
312,Congratulation @soujanyaporia for being appoin...,Fri Aug 03 05:56:33 +0000 2018,6,1,0
313,@IIITDelhi @the_dhumketu Thanks team @midasIII...,Wed Aug 01 11:47:15 +0000 2018,5,1,1
314,RT @IIITDelhi: Congratulations @midasIIITD int...,Wed Aug 01 11:20:07 +0000 2018,0,4,0
315,RT @learning_pt: Profile of the 5 Indian under...,Wed Aug 01 05:06:47 +0000 2018,0,4,0
316,Have a look at the list of accepted papers in ...,Tue Jul 31 12:11:52 +0000 2018,1,0,0
317,RT @goodfellow_ian: https://t.co/hYiWI7ntyk Te...,Tue Jul 31 02:06:26 +0000 2018,0,264,0
318,RT @IIITDelhi: Congratulations Dr. @RatnRajiv ...,Mon Jul 30 07:30:51 +0000 2018,0,2,0
319,"RT @ylecun: Jitendra Malik, who directs FAIR-M...",Sat Jul 28 11:07:11 +0000 2018,0,57,0
320,RT @kdnuggets: .@Bloomberg launches free cours...,Sat Jul 28 06:14:09 +0000 2018,0,105,0
321,RT @TechAtBloomberg: Missed #PyLondinium18? Wa...,Sat Jul 28 06:13:48 +0000 2018,0,7,0
322,RT @IIITDelhi: We are delighted to announce th...,Sat Jul 28 04:08:21 +0000 2018,0,6,0
323,Get ready for the annual technical fest of @II...,Fri Jul 27 06:46:44 +0000 2018,3,2,0
324,Congratulations Dr. @RatnRajiv and team @midas...,Fri Jul 27 04:07:31 +0000 2018,8,2,0
325,Congratulations MIDAS @midasIIITD intern Prakh...,Wed Jul 25 05:14:35 +0000 2018,5,1,0
326,MIDAS@IIITD foundation. https://t.co/LKuzyBHzjm,Tue Jul 24 10:33:23 +0000 2018,2,1,0
327,It feels great to be the part of @IIITDelhi. h...,Tue Jul 24 10:12:34 +0000 2018,2,1,0
328,"Thank you, @toonzratn for designing the logo o...",Tue Jul 24 09:46:26 +0000 2018,4,1,1
329,We are on Facebook too. Like our page to get o...,Mon Jul 23 16:25:05 +0000 2018,3,1,0
330,MIDAS is a group of researchers at IIIT-Delhi ...,Mon Jul 23 12:53:15 +0000 2018,7,4,0